.Heading_div {
  display: flex;
  width: 100%;
}
.Heading_div_1 {
  padding: 50px;
  background-color: #2c1338;
  color: #fff3ed;
  font-family: Inter, sans-serif;
  width: 55%;
}
.Heading_div_1 > h1 {
  font-family: "GT Haptik Medium", sans-serif;
  font-size: 67px;
  line-height: 73px;
  margin: 50px 0px;
}
.Heading_div_1 > p {
  font-size: 18px;
  line-height: 25px;
  margin: 50px 0px;
}
.Heading_div_1 > button {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #e57cd8;
  border-radius: 26px;
  padding: 17px 35px;
  border: none;
  font-weight: 600;
}
.Heading_div_1 > button:hover {
  background-color: #564260;
}
.second_part {
  background-color: #fff3ed;
  text-align: center;
  font-family: Inter, sans-serif;
  padding-top: 70px;
}
.second_part > h1 {
  font-size: 47px;
  line-height: 57px;
  font-family: "GT Haptik Medium", sans-serif;
  color: #2c1338;
  margin-bottom: 30px;
}
.second_part > p {
  font-size: 17px;
  line-height: 25px;
  color: #2c1338;
}
.flex_div {
  display: flex;
  justify-content: center;
  gap: 70px;
  text-align: left;
  margin-top: 100px;
}
.flex_div_box {
  width: 520px;
  height: 240px;
  padding-left: 20px;
  color: #2c1338;
  margin-bottom: 120px;
  margin-top: 30px;
}
.flex_div_box > h1 {
  font-family: "GT Haptik Medium", sans-serif;
  font-size: 32px;
  line-height: 40px;
  margin: 20px 0px;
}
.flex_div_box > p {
  font-size: 17px;
  line-height: 24px;
}
.flex_div_img {
  width: 550px;
  height: 450px;
  margin-bottom: 100px;
}
.middle_div {
  background: linear-gradient(to bottom, #fff3ed 50%, #fff3ed 50%);
  background-image: linear-gradient(#fff3ed 50%, #fff3ed 50%);
  padding: 100px 0px;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  position: relative;
}
.middle_div_2 {
  background-color: #2c1338;
  transform: skewY(10deg);
  z-index: 1;
  overflow: hidden;
  position: relative;
  padding: 150px 100px;
}
.middle_div_3 {
  background-color: #412a4c;
  text-align: center;
  padding: 50px;
}
.middle_div_3 > p {
  font-family: "GT Haptik Medium", sans-serif;
  font-size: 32px;
  line-height: 40px;
  color: #fff3ed;
  font-weight: 600;
}
.middle_div_3 > img {
  width: 200px;
  margin: auto;
  margin-top: -150px;
}
.middle_div_2 > div {
  transform: skewY(-10deg);
}
.middle_div_2 > div > img {
  margin-top: 50px;
  margin-left: -50px;
  width: 110%;
  margin-bottom: 150px;
}
.user_div {
  text-align: center;
  background-color: #412a4c;
  font-family: Inter, sans-serif;
  margin-top: -230px;
  position: relative;
  z-index: 1;
  padding-top: 100px;
}
.gif {
  width: 400px;
  height: 270px;
  margin-top: -280px;
  margin-left: 600px;
  position: relative;
  z-index: 1;
}
.user_div > h1 {
  color: #e57cd8;
  font-size: 47px;
  line-height: 57px;
  font-family: "GT Haptik Medium", sans-serif;
  margin-top: 50px;
  margin-bottom: 30px;
}
.user_div > p {
  font-size: 22px;
  line-height: 33px;
  color: #fff3ed;
  margin-bottom: 70px;
}
.user_card_div1 {
  width: 900px;
  height: 310px;
  background-color: #fff3ed;
  text-align: center;
  padding: 20px 50px;
  margin-left: 80px;
  margin-bottom: 100px;
}
.user_card_div1 > h1 {
  font-size: 32px;
  line-height: 48px;
  color: #2c1338;
}
.user_card_div1 > p {
  color: #e57cd8;
  margin-bottom: 20px;
}
.user_card_div1 > img {
  width: 100px;
  height: 100px;
  margin: auto;
}
.user_card_div2 {
  width: 900px;
  height: 250px;
  background-color: #fff3ed;
  text-align: center;
  padding: 20px 50px;
  margin-left: 300px;
  margin-bottom: 100px;
}
.user_card_div2 > h1 {
  font-size: 32px;
  line-height: 48px;
  color: #2c1338;
}
.user_card_div2 > p {
  color: #e57cd8;
  margin-bottom: 20px;
}
.user_card_div2 > img {
  width: 100px;
  height: 100px;
  margin: auto;
}
.last_div {
  background-color: #fff3ed;
  font-family: Inter, sans-serif;
  text-align: center;
  padding-top: 50px;
}
.last_div > h1 {
  color: #2c1338;
  font-family: "GT Haptik Medium", sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  margin-top: 80px;
}
.last_div > p {
  color: #2c1338;
  font-size: 18px;
  line-height: 25px;
}
.last_div_img {
  margin-top: 30px;
  width: 100%;
}
.last_div_img_2 {
  width: 150%;
  height: 150%;
}
.last_div_img_2_div {
  width: 100%;
  overflow: hidden;
}
