body {
  overflow-x: hidden;
}

.sd1 {
  height: 260px;
  position: relative;
  background-color: #2c1338;
}

.sd1:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 140%;
  top: 47%;
  left: 0;
  background-color: #2c1338;
  transform: skewY(10deg);
  z-index: -1;
}
.make {
  color: #fff3ed;
  position: absolute;
  margin-top: 100px;
  width: 100%;
  text-align: center;
  /* margin-left: 550px; */
  font-family: "GT Haptik Medium", sans-serif;
  font-weight: 400;
}
.make > h1 {
  font-size: 66px;
  line-height: 75px;
  font-weight: 700;
}
.make > p {
  font-size: 22px;
  line-height: 33px;
  margin: 25px 0px;
}
.btn1 {
  padding: 15px 35px;
  font-size: 15px;
  font-weight: bold;
  background-color: #ffde91;
  border: #ffde91;
  border-radius: 20px;
  color: #2c1338;
}
.sd2:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 750px;
  /* top: 65%; */
  left: 0;
  background-color: #fdf1ec;
  /* border: 5px solid red; */
  transform: skewY(10deg);
  z-index: -1;
  margin-top: -70px;
}
.map {
  height: 380px;
  margin-top: -350px;
  margin-left: 700px;
}
.toggl {
  margin-top: 280px;
  font-size: 50px;
  font-family: "GT Haptik Medium", sans-serif;
  color: #2c1338;
  font-weight: 700;
  margin-left: 170px;
}
.heading {
  width: 520px;
  font-family: "GT Haptik Medium", sans-serif;
  font-size: 18px;
  margin-left: 180px;
  text-align: left;
  letter-spacing: 1px;
}
/* .sd3:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 750px;
  top: 65%;
  left: 0;
  background-color: #412a4c;
  transform: skewY(10deg);
  z-index: -1;
  margin-top: 500px;
} */
.sd3 {
  text-align: center;
  width: 100%;
  height: 750px;
  background-color: #412a4c;
  transform: skewY(10deg);
  z-index: -1;
  margin-top: -30px;
}
.fully_remote {
  font-size: 45px;
  margin-top: 250px;
  color: #ffde91;
  transform: skewY(-10deg);
}
.full {
  font-size: 20px;
  width: 660px;
  margin-left: 400px;
  font-family: "GT Haptik Medium", sans-serif;
  color: #fdf1ec;
  transform: skewY(-10deg);
}
.name {
  margin-top: 150px;
  font-size: 25px;
  margin-right: 1100px;
  font-family: "GT Haptik Medium", sans-serif;
  color: #fdf1ec;
  transform: skewY(-10deg);
}
.software {
  font-size: 30px;
  margin-right: 900px;
  color: #ffde91;
  font-family: "GT Haptik Medium", sans-serif;
  transform: skewY(-10deg);
  /* margin-top: 50px; */
}
.box1 {
  height: 170px;
  width: 1200px;
  margin-left: 150px;
  background-color: #2c1338;
  transform: skewY(-10deg);
  /* margin-top: 50px; */
}
.backend {
  font-size: 20px;
  margin-right: 900px;
  font-family: "GT Haptik Medium", sans-serif;
  color: #fdf1ec;
}
.para1 {
  color: #fdf1ec;
  width: 600px;
  margin-left: 300px;
  text-align: left;
}
/* .sd4:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1350px;
  top: 65%;
  left: 0;
  background-color: #2c1338;
  transform: skewY(-10deg);
  z-index: -1;
  margin-top: 1430px;
} */
.sd4 {
  background-color: #2c1338;
  transform: skewY(10deg);
  margin-top: -300px;
  height: 1300px;
}
.heading3 {
  margin-top: 280px;
  font-size: 70px;
  margin-left: 350px;
  color: #ffde91;
  transform: skewY(-10deg);
  font-family: "GT Haptik Medium", sans-serif;
}
.heading4 {
  width: 500px;
  margin-left: 360px;
  font-size: 27px;
  font-family: "GT Haptik Medium", sans-serif;
  color: #fdf1ec;
  text-align: left;
  transform: skewY(-10deg);
  margin-top: 100px;
}
.box2 {
  width: 435px;
  text-align: left;
  margin-left: 290px;
  margin-top: 90px;
  transform: skewY(-10deg);
}
.box3 {
  width: 435px;
  text-align: left;
  margin-left: 820px;
  margin-top: -420px;
  transform: skewY(-10deg);
}
.box4 {
  width: 435px;
  text-align: left;
  margin-left: 290px;
  transform: skewY(-10deg);
}
.box5 {
  width: 435px;
  text-align: left;
  margin-left: 820px;
  transform: skewY(-10deg);
}
.heading5 {
  color: #ffde91;
  font-family: "GT Haptik Medium", sans-serif;
  font-size: 24px;
  /* transform: skewY(-10deg); */
}
.para2 {
  color: #ece1d7;
  font-size: 20px;
  font-family: "GT Haptik Medium", sans-serif;
  
}
.box6 {
  background-color: #412a4c;
  width: 680px;
  border-radius: 50px;
  height: 70px;
  margin-top: 80px;
  margin-left: 430px;
  transform: skewY(-10deg);
}
.img_heart {
  height: 50px;
  margin-left: 20px;
  margin-top: 17px;
}
.para3 {
  color: #ece1d7;
  margin-top: -30px;
  font-size: 18px;
  margin-left: 100px;
}
.btn2 {
  font-size: 15px;
  height: 50px;
  width: 160px;
  margin-left: 500px;
  margin-top: -36px;
}
.btn3 {
  height: 50px;
  padding: 15px 35px;
  font-size: 13px;
  font-weight: bold;
  background-color: #ffde91;
  border: #ffde91;
  border-radius: 30px;
}
.sd5 {
  position: absolute;
  content: "";
  width: 100%;
  height: 1850px;
  top: 65%;
  left: 0;
  background-color: #412a4c;
  transform: skewY(-10deg);
  z-index: -1;
  margin-top: 300px;
}
.Faq_div {
  width: 1100px;
  margin-left: 200px;
  margin-top: 100px;
}
.fq {
  font-size: 50px;
  color: #ffde91;
}
.line {
  width: 1100px;
  background-color: #2c1338;
  height: 1px;
}
.sd6 {
  position: relative;
  content: "";
  width: 100%;
  height: 1100px;
  top: 65%;
  left: 0;
  background-color: #564260;

  z-index: 1;
  margin-top: -1050px;
}
