.mini{
    color:#ffde91;
    font-size:50px;

}
.inside{
    margin-left: 200px;
}
.para_g{
    color: beige;
    font-size: 15px;
    margin-left: 470px;
}

.container{
    width: 90%;
    height: 100%;
    display:grid;
    grid-template-columns: repeat(5,20%);
    grid-gap:110px;
    margin-left: 180px;
    margin-top: 100px;
    margin-left: 100px;
   }
.card{
   
    background-color:#2c1338;
    border-radius: 5px;
    padding: 10px;
    width: 330px;
    height: 450px;
    margin-left: 90px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image1{
    width: 400px;
    /* margin-left: -10px; */
    margin-top: -10px;
}
.title{
    color: #ffde91;
    font-size: 25px;
    font-weight:bold;
    text-align: left;
    font-family: 'GT Haptik Medium',sans-serif;
}
.inside_para{
    color: #fff3ed;
    font-family: 'GT Haptik Medium',sans-serif;
    font-size: 20px;
    text-align: left;
}
.btn4{
    color: #fff3ed;
    background-color:#2c1338;
    font-size: 17px;
    /* margin-left: 30px; */
    margin-top: 40px;
    border: 2px solid #2c1338;
}
