body {
    
    overflow-x: hidden;
  }

.toggl_td1{
    height: 260px;
    position: relative;
    background-color:#2c1338;
}
.toggl_td1:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 440%;
    top: 47%;
    left: 0;
    background-color: #2c1338;
    transform: skewY(10deg);
    z-index: -1;
}
.td_heading1{
    color: #fff3ed;
    position: absolute;
    margin-top: 100px;
    font-size: 23px;
    width:650px;
    font-weight: 700;
    margin-left: 400px;
    text-align: center;
   font-family: 'GT Haptik Medium',sans-serif;
   /* font-weight: 400; */
}
.toggle_td2:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 1350px;
    top: 65%;
    left: 0;
    background-color:#fdf1ec ;
    transform: skewY(10deg);
    z-index: -1;
    margin-top: -510px;
    margin-top: -1050px;
}
.sd7{
    position: absolute;
    content: '';
    width: 100%;
    height: 300px;
    top: 65%;
    left: 0;
    background-color:#2c1338;
    z-index: -1;
    margin-top: 200px; 
    padding: 200px 0px;
}