* {
  font-family: Inter, sans-serif;
}

.mainPricingDiv {
  background-color: #2c1338;
  color: #fff3ed;
}
.mainHeading {
  padding-top: 100px;
  color: #fff3ed;
  font-size: 47.21px;
  font-weight: 600;
  font-family: "GT Haptik Medium", sans-serif;
}
.mainPara {
  color: #fff3ed;
  font-size: 19px;
  text-decoration: none solid rgb(255, 243, 237);
  font-family: Inter, sans-serif;
}

.miniBillingDiv {
  width: 450px;
  display: flex;
  gap: 20px;
  margin: auto;
  margin-top: 100px;
  font-size: 19px;
}

.billingSaveDiv {
  margin-top: 30px;
  height: 30px;
  width: 125px;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 600;
  align-content: center;
  justify-content: center;
  background-color: #fff3ed;
  color: black;
  transform: rotate(-20deg);
}

.billingButtonDiv {
  margin: auto;
  width: 340px;
  height: 52px;
  border-radius: 30px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 0px 3px;
}

.billingButtonAnnual {
  height: 46px;
  width: 167px;
  border: 0px;
  font-size: 16px;
  font-weight: 600;
  background-color: white;
  color: black;
  border-radius: 30px;
}
.billingButtonMonthly {
  height: 46px;
  width: 167px;
  border: 0px;
  font-size: 16px;
  font-weight: 600;
  background-color: white;
  color: black;
  border-radius: 30px;
}
.annaul,
.monthly {
  height: 46px;
  width: 167px;
  border: 0px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px;
  background-color: #e57cd8;
  color: white;
}
.billingButtonDiv > button:hover {
  background-color: #412a4c;
  color: #fff3ed;
}
.billingButtonDiv
  > button:nth-child(1)
  + .billingButtonDiv
  > button:nth-child(2) {
  background-color: red;
  color: black;
}
.billingButtonDiv
  > button:nth-child(2):hover
  + .billingButtonDiv
  > button:nth-child(1) {
  background-color: white;
  color: black;
}

.paraDiv {
  margin: auto;
  margin-top: 100px;
  text-align: center;
  width: 700px;
}

.paraDiv > p:nth-child(2) {
  margin-top: 20px;
}

.compareButton {
  margin: auto;
  height: 56px;
  width: 250px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 30px;
  display: flex;
  cursor: pointer;
  border-radius: 30px;
  align-items: center;
  align-content: center;
  border: 1px solid white;
}
.compareButton > p {
  margin: auto;
}

.compareButton:hover {
  background-color: #fce5d8;
  color: #e57cd8;
}

.toggleTrackDiv > img {
  width: 100%;
}

.FAQsMainDiv {
  background-color: #412a4c;
}
.brandImg {
  margin: auto;
}
.faq {
  margin-top: 200px;
  font-size: 48px;
  color: #e57cd8;
  font-weight: 600;
  margin-bottom: 50px;
}

.signupMainDiv {
  background-color: #412a4c;
  margin-top: 50px;
}

.onboardDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  color: #fce5d8;
  margin-top: 40px;
}
.onboardDiv > p:nth-child(1) {
  margin-bottom: 70px;
}
.onboardDiv > p:nth-child(2) {
  font-size: 16px;
  font-weight: 600;
  color: #e57cd8;
  margin-bottom: 70px;
}

.planTableMainDiv {
  margin-top: 150px;
  color: #fff3ed;
  padding-bottom: 100px;
}
.planH1 {
  font-size: 45px;
  font-weight: 600;
}

.appDiv {
  background-color: #f7d8f3;
  color: #2c1338;
  padding-bottom: 100px;
}

.appH1 {
  display: flex;
  justify-content: center;
  font-size: 45px;
  font-weight: 600;
}

.appH1:nth-child(1){
  padding-top: 150px;
}

.appH1:nth-child(2){
  margin-top: -10px;
}

.skewed {
  margin: 0px 15px;
  transform: skew(-30deg);
  color: #e57cd8;
}

.para{
  color: #564260;
  font-size: 15px;
  margin-top: 40px;
}

.appFirstDiv{
  width: 1200px;
  height: 350px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.appCard{
  width: 275px;
  color: #564260;
  padding: 10px;
}
.appCard>img{
  margin: auto;
  margin-bottom: 30px;
}
.appCard>h1{
  font-size: 17px;
  font-weight: 600;
}
.buttonDiv{
  display: flex;
  margin-top: 25px;
  justify-content: center;
  gap:20px
}
.buttonDiv>div{
  display: flex;
  gap: 5px;
  padding: 10px 15px;
  border-radius: 30px;
  background-color:white;
  font-size: 16px;
  font-weight: 400;
  color:#412a4c;
}
.appCard:nth-child(3)>.buttonDiv>div{
  background-color: #e57cd8;
  width: 156px;
  place-content: center;
  font-size: 16px;
  color: white;
}
.appCard:nth-child(3)>.buttonDiv>div:hover{
  color: white;
  background-color: #564260;
}
.buttonDiv>div:hover{
  color: white;
  background-color: #564260;
}

