th,
td {
  border: 1px solid #d5d0d7;
}
.mainTable {
  width: 1200px;
  margin: auto;
  background-color: #fff3ed;
  color: #2c1338;
  margin-top: 50px;
}
.rightIcon {
  margin-left: 65px;
}
.headRow {
  height: 100px;
  background-color: #fff3ed;
  position: sticky;
  top: 0;
  z-index: 999;
  border: 1px solid #d5d0d7;
}
.headRow > th:nth-child(4) {
  background-color: #fce5d8;
}

.headRow > .tableHead:nth-child(3) > .startButtonDiv {
  background-color: #e57cd8;
}

.h1SecondDiv {
  height: 100px;
  color: #2c1338;
}
.h1SecondDiv > p {
  padding-top: 15px;
  font-size: 18px;
}
.tableHead {
  width: 167px;
}
.bestValueTR {
  height: 35px;
  background-color: #2c1338;
  border: 1px solid #2c1338;
  color: #fff3ed;
  font-weight: 500;
}

.bestValueTR > th {
  border: 0px;
}
.bestValueTR > th:nth-child(4) {
  font-weight: 300;
  background-color: #e57cd8;
}
/* .headRow div:nth-child(1) {
} */
.firstHead {
  width: 536px;
}

.startButtonDiv {
  text-align: center;
}
.getStartButton {
  margin-bottom: 20px;
  font-weight: 600;
  width: 141px;
  height: 45px;
  margin-top: 8px;
  border-radius: 30px;
  background-color: #2c1338;
  color: white;
  font-size: 15px;
}

.getStartButton:hover {
  background-color: #564260;
}

.miniHeading > td {
  height: 61px;
  background-color: #564260;
  color: #fff3ed;
  border: 0px;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  padding-left: 20px;
}
.headRow th {
  border: 1px solid #d5d0d7;
}
.rowData {
  height: 54px;
  font-size: 14.4px;
}
.rowData > td:nth-child(1) {
  text-align: left;
  padding-left: 20px;
}
.rowData > td:nth-child(4) {
  background-color: #fce5d8;
  color: #e57cd8;
}

.headRow .tableHead:nth-child(4) .getStartButton {
  background-color: #e57cd8;
}
