.mainBox{
    /* style={{ width: "280px", backgroundColor: "#412A46" }}, */
    width:280px;
    background-color: #412A4C;
    text-align: left;
    font-family: Inter, sans-serif;
}
.secondBox{
    width: 265px;
    padding: 0px 15px;
    padding-top:15px ;
    margin: auto;
}
.firstHead{
    background-color: #2c1338;
    text-align: center;
    height: 45px;
    width: 280px;
    font-size: 20px;
    font-weight: 600;
}
.mainheadBox{
    height: 130px;
}
.mainheadBox>h1{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: sans-serif;
}
.mainheadBox>p{
    font-size: 15.5px;
    margin-bottom: 20px;
    font-family: sans-serif;
}
.priceDetailBox{
    display: flex;
    gap: 30px;
    align-items: center;
}

.priceDetailBox >h1{
    font-size: 48px;
    color:#E57CD8;
    font-weight: 600;
    font-family: "GT Haptik Medium", sans-serif;
}
.priceDetailBox >p{
    font-size: 14px;
}
.hLine{
    border-bottom: 0.5px solid gray;
    height: 10px;
    width: 220px;
    margin-bottom: 10px;
}

.planBenefitBox{
    height: 570px;
}
.planDesc{
    display: flex;
    /* align-items: center; */
    gap: 20px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 18px;
    /* color: red; */
    
}
.planDesc>.rightIcon{
    font-weight:bolder;
    color: #E57CD8;
}
.startButtonDiv{
    text-align: center;

}
.getStartButton{
    margin-bottom: 20px;
    font-weight: 600;
    width:220px;
    height: 52px;
    border-radius: 30px;
    background-color: #2c1338;
    color: white;
}

.getStartButton:hover{
    background-color: #564260;
}

.mainBox:nth-child(3){
    background-color: #E57CD8;
    color:black
}
.mainBox:nth-child(3) button{
    background-color: #E57CD8;
    color: #fff3ed;
}
.mainBox:nth-child(3) button:hover{
    background-color: #564260;
}
.mainBox:nth-child(3)>.firstHead{
    background-color: #E57CD8;
    width: 100%;
    color: #fff3ed;
}
.mainBox:nth-child(3)>.secondBox{
    background-color:#fff3ed;
}
.mainBox:nth-child(3) .mainHeading{
    color: #E57CD8;
}